.container {
    width: 80%;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 14px;
    border-color: rgba(0, 131, 255, 0.38);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,131,255,0.69),
        inset 0px 0px 15px 0px rgba(0,131,255,0.69);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,131,255,0.69),
        inset 0px 0px 15px 0px rgba(0,131,255,0.69);
    box-shadow: 0px 0px 15px 0px rgba(0,131,255,0.69),
        inset 0px 0px 15px 0px rgba(0,131,255,0.69);
}
@media (min-width: 1024px) {
    .container {
        width: 33%;
        margin-left: 5rem;
        padding: 1.25rem 0.5rem 1.25rem 0.5rem;
    }
}

.inputContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    margin-top: 4rem;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 14px;
    border-color: rgba(0, 131, 255, 0.38);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,131,255,0.69),
        inset 0px 0px 15px 0px rgba(0,131,255,0.69);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,131,255,0.69),
        inset 0px 0px 15px 0px rgba(0,131,255,0.69);
    box-shadow: 0px 0px 15px 0px rgba(0,131,255,0.69),
        inset 0px 0px 15px 0px rgba(0,131,255,0.69);
}

@media (min-width: 1024px) {
    .inputContainer {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        margin-top: 4rem;
        padding: 1.25rem 0.5rem 1.25rem 0.5rem;
    }
}
